body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    background-image: url('../img/loginbackground.png'); /* 替换成你的背景图片路径 */
    background-size: cover; /* 使背景图片覆盖整个屏幕 */
    background-position: center; /* 将背景图片居中 */
    background-repeat: no-repeat; /* 禁止背景图片重复 */
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

h1 {
    text-align: center; /* 将标题文本居中对齐 */
    margin-bottom: 20px; /* 调整标题与表单的间距 */
}

#login-box {
    width: 300px;
    padding: 20px;
    background-color: #fff;
    background-color: rgba(255, 255, 255, 0.2); /* 使用 rgba 设置白色背景，透明度为 0.2 */
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin-bottom: 8px;
}

input {
    padding: 8px;
    margin-bottom: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

input[type="submit"] {
    background-color: #4caf50;
    color: white;
    cursor: pointer;
}

input[type="reset"] {
    background-color: #4caf50;
    color: white;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #45a049;
}

input[type="reset"]:hover {
    background-color: #45a049;
}
